#todo-container {
    background: rgb(41, 33, 33);
    width: 750px;
    margin: 0 auto;
    border: 2px solid #0033ff;
    padding: 20px;
    color: white;
    border-radius: 15px;
    font-family: Arial, sans-serif;
    text-align: center;
}

#input-box {
    width: 550px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 20px;
}

#input-button {
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #2e60ea;
}

.task button {
    background: rgb(12, 124, 251);
    border-radius: 5px;
    margin: 0px 5px;
    padding: 3px 5px;
    border: none;
    cursor: pointer;
    color: white;
    float: right;
}

hr {
    border: 1px solid #0033ff;
}

#header {
    margin: 5px;
    font-size: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#input-button:hover {
    background-color: #9eb7fd;
}

#list-container {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: left;
}

#list-container li {
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    margin-top: 10px;
}

.task-lbl {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 500px;
}

.edit-btn,
.delete-btn,
.complete-btn {
    float: right;
    color: crimson;
    cursor: pointer;
    margin: 3px 5px;
    border: none;
    padding: 3px 5px;
    background: none;
}

.completed label span {
    text-decoration: line-through;
    color: gray;
}